<table class="w-full caption-bottom text-sm">
    <thead>
        <tr class="border-b transition-colors hover:bg-gray-50">
            @for (c of columnas; track $index) {
            <th class="h-12 px-4 text-left align-middle font-medium">{{ c }}</th>
            }
    </thead>
    <tbody>
        @for (d of departments; track $index) {
        <tr class="border-b transition-colors hover:bg-gray-50">
            <td class="p-4 align-middle">
                <div class="flex items-center gap-3">
                    <div>
                        <div class="font-medium">{{ d.name }}</div>
                    </div>
                </div>
            </td>
            <td class="p-4 align-middle">
                <div class="flex items-center gap-2">
                    <button (click)="editDepartment(d)"
                        class="h-8 w-8 p-0 inline-flex items-center justify-center rounded-md cursor-pointer border border-gray-300 text-gray-500 hover:bg-gray-50">
                        <i class="pi pi-pencil"></i>
                    </button>
                    <div class="relative">
                        <button (click)="deleteDepartment(d.id)"
                            class="h-8 w-8 p-0 inline-flex items-center justify-center rounded-md border cursor-pointer border-gray-300 text-red-500 hover:bg-gray-50">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>