<header class="bg-white border-b border-gray-200 h-16 flex items-center px-4 justify-between">
    <div class="flex items-center">
        <button class="p-2 rounded-full hover:bg-gray-100 mr-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
        <div class="flex items-center">
            <img src="./logo.webp" class="mr-4 mx-auto block" style="max-width: 40px; height: auto;" alt="">
            <span class="text-xl font-normal">Control de Asistencias para Docentes</span>
        </div>
    </div>

    <div class="flex items-center">
        <button (click)="logout()"
            class="p-2 rounded-full hover:bg-red-100 text-red-600 flex items-center cursor-pointer"
            title="Cerrar sesión">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
        </button>
    </div>
</header>