<div class="container mx-auto px-4 md:px-6 mt-10 min-h-screen p-6 w-full max-w-6xl">
    <div class="mb-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-2">Gestión Académica</h2>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
            <div class="flex space-x-2 bg-gray-100 p-1 rounded-lg">
                <button (click)="activeTab = 'groups'" [class]="activeTab === 'groups' ? 
                          'px-4 py-2 rounded-md bg-white shadow text-blue-600 font-medium' : 
                          'px-4 py-2 rounded-md text-gray-600 hover:bg-gray-50 transition-colors'">
                    <i class="pi pi-users mr-2"></i> Grupos
                </button>
                <button (click)="activeTab = 'classrooms'" [class]="activeTab === 'classrooms' ? 
                          'px-4 py-2 rounded-md bg-white shadow text-blue-600 font-medium' : 
                          'px-4 py-2 rounded-md text-gray-600 hover:bg-gray-50 transition-colors'">
                    <i class="pi pi-building mr-2"></i> Aulas
                </button>
            </div>

            <button (click)="openCreateModal()"
                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors flex items-center">
                <i class="pi pi-plus mr-2"></i>
                {{ activeTab === 'groups' ? 'Nuevo Grupo' : 'Nueva Aula' }}
            </button>
        </div>
    </div>

    <div class="space-y-8 pr-4">
        @if (activeTab === 'groups') {
        <div class="space-y-6">
            <h3 class="text-xl font-semibold text-gray-700">Listado de Grupos</h3>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                @if (groups.length > 0) {
                @for (group of groups; track $index) {
                <app-group-card [group]="group" (onEdit)="openGroupDetailsModal(group)" (onDelete)="deleteGroup(group)">
                </app-group-card>
                }
                } @else {
                <div
                    class="bg-white rounded-xl border border-gray-100 shadow-sm p-8 text-center md:col-span-2 lg:col-span-3">
                    <div class="flex justify-center mb-4">
                        <div class="h-16 w-16 rounded-full bg-blue-50 flex items-center justify-center">
                            <i class="pi pi-users text-blue-600 text-4xl"></i>
                        </div>
                    </div>
                    <h2 class="text-xl font-bold text-gray-800 mb-2">No hay grupos registrados</h2>
                    <p class="text-gray-600 mb-4">Comienza creando tu primer grupo</p>
                    <button (click)="openCreateModal()"
                        class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors">
                        Crear Grupo
                    </button>
                </div>
                }
            </div>
        </div>
        }

        @if (activeTab === 'classrooms') {
        <div class="space-y-6">
            <h3 class="text-xl font-semibold text-gray-700">Listado de Aulas</h3>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">
                @if (classrooms.length > 0) {
                @for (classroom of classrooms; track $index) {
                <app-classroom-card [classroom]="classroom" (onEdit)="openGroupDetailsModal(classroom)"
                    (onDelete)="deleteClassroom(classroom)">
                </app-classroom-card>
                }
                } @else {
                <div
                    class="bg-white rounded-xl border border-gray-100 shadow-sm p-8 text-center md:col-span-2 lg:col-span-3">
                    <div class="flex justify-center mb-4">
                        <div class="h-16 w-16 rounded-full bg-blue-50 flex items-center justify-center">
                            <i class="pi pi-building text-blue-600 text-4xl"></i>
                        </div>
                    </div>
                    <h2 class="text-xl font-bold text-gray-800 mb-2">No hay aulas registradas</h2>
                    <p class="text-gray-600 mb-4">Comienza creando tu primera aula</p>
                    <button (click)="openCreateModal()"
                        class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors">
                        Crear Aula
                    </button>
                </div>
                }
            </div>
        </div>
        }
    </div>

    <!-- Modal para crear grupo -->
    <p-dialog [header]="'Nuevo Grupo'" [draggable]="false" [modal]="true" [(visible)]="showGroupCreateModal"
        [style]="{ width: '30rem' }" (onHide)="closeModal()">
        <app-group-form (submit)="loadGroups(); closeModal()" (cancel)="closeModal()" />
    </p-dialog>

    <p-dialog [header]="'Detalles del Grupo'" [draggable]="false" [modal]="true" [(visible)]="showGroupDetailsModal"
        [style]="{ width: '80rem' }" (onHide)="closeModal()">
        <app-group-details [group]="selectedGroupDetails!" (onClose)="closeModal()"
            (onEdit)="closeModal(); openGroupDetailsModal(selectedGroupDetails!)" />
    </p-dialog>

    <p-dialog [header]="'Nueva Aula'" [draggable]="false" [modal]="true" [(visible)]="showClassroomCreateModal"
        [style]="{ width: '30rem' }" (onHide)="closeModal()">
        <app-classroom-form (submit)="onFormSubmit()" (cancel)="closeModal()" />
    </p-dialog>


    <p-dialog [header]="'Detalles del Aula'" [draggable]="false" [modal]="true" [(visible)]="showClassroomDetailsModal"
        [style]="{ width: '10rem' }" (onHide)="closeModal()">

    </p-dialog>

    <app-toast />
</div>