<table class="w-full caption-bottom text-sm">
    <thead>
        <tr class="border-b transition-colors hover:bg-gray-50">
            @for (col of columnas; track $index) {
            <th class="h-12 px-4 text-left align-middle font-medium">{{ col }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (subjects.length === 0) {
        <tr>
            <td colspan="3" class="p-8 text-center text-gray-500">
                <div class="flex flex-col items-center gap-2">
                    <i class="pi pi-book text-3xl"></i>
                    <span>No hay carreras registradas</span>
                </div>
            </td>
        </tr>
        } @else {
        @for (subject of subjects; track subject.id) {
        <tr class="border-b transition-colors hover:bg-gray-50">
            <td class="p-4 align-middle font-medium">{{ subject.name }}</td>
            <td class="p-4 align-middle font-medium">{{ subject.careerName }}</td>

            <td class="p-4 align-middle">
                <div class="flex items-center gap-2">
                    <button (click)="editSubject(subject)"
                        class="h-8 w-8 p-0 inline-flex items-center justify-center rounded-md cursor-pointer border border-gray-300 text-gray-500 hover:bg-gray-50">
                        <i class="pi pi-pencil"></i>
                    </button>
                    <button (click)="deleteSubject(subject.id)"
                        class="h-8 w-8 p-0 inline-flex items-center justify-center rounded-md border cursor-pointer border-gray-300 text-red-500 hover:bg-gray-50">
                        <i class="pi pi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        }
        }
    </tbody>
</table>