<div class="lg:col-span-1 bg-white rounded-lg shadow-sm">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="p-2 space-y-4">
            <div class="space-y-2">
                <label class="text-sm font-medium">Numero de cuenta</label>
                <input formControlName="username" placeholder="Ingrese número de cuenta"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
            </div>
            <div class="space-y-2">
                <label class="text-sm font-medium">Nombre Completo</label>
                <input formControlName="name" placeholder="Ingrese nombre completo"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
            </div>
            <div class="space-y-2">
                <label class="text-sm font-medium">Correo Electrónico</label>
                <input type="email" formControlName="email" placeholder="correo@universidad.edu"
                    class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
            </div>
            <div class="space-y-2">
                <label class="text-sm font-medium">Contraseña</label>
                <div class="flex gap-2">
                    <input type="password" formControlName="password" placeholder="••••••••"
                        class="w-full px-3 py-2 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" />
                    <button type="button" (click)="generatePassword()"
                        class="px-3 py-2 border border-gray-300 rounded-md text-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        title="Generar contraseña aleatoria">
                        <i class="pi pi-lock" style="font-size: 0.8rem"></i>
                    </button>
                </div>
            </div>
            <div class="space-y-2">
                <label class="text-sm font-medium">Rol</label>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
                    @for (roleLabel of roleLabels; track $index) {
                    <button type="button" (click)="selectRole(roleLabel)" [ngClass]="{
                              'bg-blue-600 text-white': selectedRoleLabel === roleLabel, 
                              'bg-white text-gray-700 border-gray-300': selectedRoleLabel !== roleLabel
                            }" class="px-3 py-2 text-sm font-medium border rounded-md flex items-center justify-center 
                            hover:bg-blue-50 hover:text-blue-600 
                            focus:outline-none focus:ring-2 focus:ring-blue-500 
                            transition-all duration-300 ease-in-out">
                        {{ roleLabel }}
                    </button>
                    }
                </div>
            </div>


        </div>
        <div class="p-6 border-t flex gap-2">
            <button type="button" (click)="userForm.reset()"
                class="w-full px-4 py-2 text-sm font-medium border border-gray-300 rounded-md flex items-center justify-center gap-2 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <i class="pi pi-times" style="font-size: 0.8rem"></i>
                Limpiar
            </button>
            <button type="submit"
                class="w-full px-4 py-2 text-sm font-medium bg-blue-600 text-white rounded-md flex items-center justify-center gap-2 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <i class="pi pi-plus" style="font-size: 0.8rem"></i>
                {{ user ? 'Actualizar Usuario' : 'Crear Usuario' }}
            </button>
        </div>
    </form>
</div>