<div class="fixed left-0 top-1/2 -translate-y-1/2 z-20 ml-2">
    <nav class="flex flex-col rounded-lg bg-white/50 shadow-lg backdrop-blur-lg p-1 gap-4 min-w-[68px]">
        <a routerLink="/v1/admin/principal"
            class="flex aspect-square min-h-[32px] w-22 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-700 hover:bg-gray-100"
            routerLinkActive="!text-blue-500 [&>i]:!text-blue-500 font-bold">
            <i class="pi pi-user text-gray-700" style="font-size: 1.2rem"></i>
            <small class="text-center text-xs font-medium"> Admin </small>
        </a>

        <a routerLink="/v1/grupos"
            class="flex aspect-square min-h-[32px] w-22 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-700 hover:bg-gray-100"
            routerLinkActive="!text-blue-500 [&>i]:!text-blue-500 font-bold">
            <i class="pi pi-users text-gray-700" style="font-size: 1.2rem"></i>
            <small class="text-center text-xs font-medium"> Grupos </small>
        </a>

        <a routerLink="/v1/horarios"
            class="flex aspect-square min-h-[32px] w-22 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-700 hover:bg-gray-100"
            routerLinkActive="!text-blue-500 [&>i]:!text-blue-500 font-bold">
            <i class="pi pi-calendar-plus text-gray-700" style="font-size: 1.2rem"></i>
            <small class="text-center text-xs font-medium"> Horarios </small>
        </a>

        <a routerLink="/v1/asistencia"
            class="flex aspect-square min-h-[32px] w-22 flex-col items-center justify-center gap-1 rounded-md p-1.5 text-gray-700 hover:bg-gray-100"
            routerLinkActive="!text-blue-500 [&>i]:!text-blue-500 font-bold">
            <i class="pi pi-calendar text-gray-700" style="font-size: 1.2rem"></i>
            <small class="text-center text-xs font-medium"> Asistencia </small>
        </a>

        <hr class="dark:border-gray-700/60" />

        <a routerLink="/v1/admin/inicio" class="flex h-16 w-22 flex-col items-center justify-center gap-1 text-gray-700"
            routerLinkActive="!text-blue-500 [&>i]:!text-blue-500 font-bold" [routerLinkActiveOptions]="{exact: true}">
            <i class="pi pi-home text-gray-700" style="font-size: 1.2rem"></i>
            <small class="text-xs font-medium">Inicio</small>
        </a>
    </nav>
</div>