<div class="bg-white w-full h-full flex flex-col">
    <div class="p-2 border-b sticky bg-white -mt-4 flex justify-between items-center">
        <div>
            <h2 class="text-2xl font-bold text-gray-800">{{ classroom?.name }} {{ classroom?.id }}</h2>
        </div>
        <button
            class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg focus:outline-none flex items-center space-x-2 transition-colors"
            (click)="openModal()">
            <i class="pi pi-plus"></i>
            <span>Nuevo Horario</span>
        </button>
    </div>

    <div class="flex-1 overflow-y-auto p-6 bg-gray-50">
        <div class="space-y-6">
            <app-schedule-tab [classroom]="classroom"></app-schedule-tab>
        </div>
    </div>

    <div class="flex-1 overflow-y-auto p-6 bg-gray-50">
        <div class="space-y-6">
            <p-dialog [(visible)]="showDetailsModal" [draggable]="false" [modal]="true" [header]="'Crear Nuevo Horario'"
                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                <app-schedule-form [classroom]="classroom" (scheduleCreated)="handleScheduleCreated()" />
            </p-dialog>
        </div>
    </div>
</div>